/* loader */

.loader {
    width: 48px;
    height: 48px;
    margin: auto;
    position: relative;
    margin-top: 50vh;
  }
  
  .loader:before {
    content: '';
    width: 48px;
    height: 5px;
    background: #f0808050;
    position: absolute;
    top: 60px;
    left: 0;
    border-radius: 50%;
    animation: shadow324 0.5s linear infinite;
  }
  
  .loader:after {
    content: '';
    width: 100%;
    height: 100%;
    background: #f08080;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    animation: jump7456 0.5s linear infinite;
  }
  
  @keyframes jump7456 {
    15% {
      border-bottom-right-radius: 3px;
    }
  
    25% {
      transform: translateY(9px) rotate(22.5deg);
    }
  
    50% {
      transform: translateY(18px) scale(1, .9) rotate(45deg);
      border-bottom-right-radius: 40px;
    }
  
    75% {
      transform: translateY(9px) rotate(67.5deg);
    }
  
    100% {
      transform: translateY(0) rotate(90deg);
    }
  }
  
  @keyframes shadow324 {
  
    0%,
      100% {
      transform: scale(1, 1);
    }
  
    50% {
      transform: scale(1.2, 1);
    }
  }








.strip{
    min-height: 600px;
    background: white;
  }
  
  .carousel .bg_slide{
    background-size: cover;
    background-position: center;
    min-height: 700px;
  
  }
  .carousel .carousel-caption{
    background: rgba(254, 253, 253, 0.527);
    color: rgba(0, 0, 0, 0.874);
    max-width: 1500px;
    margin: 0 auto;
    border-radius: 24px;
    font-family: 'Comfortaa', cursive;
  }

main{
    min-height: 1200px;
    background:white;
}

main .row article .section1 h5 i{
color: coral;

}

main .row .section2 .row .box{
    min-height: 200px;
    background:linen;
    border-radius: 12px;
    transition: 300ms;

}
main .row .section2 .row .box:hover{
    transform: translate( 0 , -10px);
}
main .row .section2 .row .box h4{
    background: salmon;
    min-height:50px ;
    border-radius: 12px 12px 0 0;
    padding: 8px;
}

main .row .section2 .row .box button{
    border: none;
    border-radius: 12px;
    padding: 8px 12px;
    background: rgb(67, 67, 67);
}
main .row .section2 .row .box button:hover{
    background: grey;
}
main .row .section2 .row .box button a{
    color: white;
    text-decoration: none;
}
main .side aside {
background: white;
box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);padding: 8px;

}
main .side aside p a {
    text-decoration: none;
    color: #000000;
    font-style: italic;
}
main .side aside p a:hover{
    color: coral;
}


@media(max-width:992px){


 .strip{
    background-image: url(img_home/woman_smile.jpg);
    background-position:center;
    background-size: cover;
    min-height: 400px;
    
 }
main .side aside {
   margin-top: 24px;

    }
    


}